<ion-view view-title="插件的使用">
  <ion-content>
    <ion-list>
      <ion-item>
      	<button class="button button-positive" ng-click="ActionSheet()">Action Sheet</button>
      	<span>底部弹框</span>
      	<button class="button button-positive" ng-click="IonicActionSheet()">Ionic Action Sheet</button>
      	<span>Ionic自带的底部弹框</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="AdMob()">AdMob</button>
      	<span>呈现AdMob的广告</span>
      	<button class="button button-positive" ng-click="AppAvailability()">AppAvailability</button>
      	<span>检查是否能安装</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="AppRate()">AppRate</button>
      	<span>提示用户评价应用</span>
      	<button class="button button-positive" ng-click="AppVersion()">AppVersion</button>
      	<span>应用版本信息</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="Badge()">Badge</button>
      	<span>应用程序的证件号码</span>
      	<button class="button button-positive" ng-click="BackgroundGeoloc()">BackgroundGeoloc</button>
      	<span>地理位置</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="BatteryStatus()">BatteryStatus</button>
      	<span>电量状态</span>
      	<button class="button button-positive" ng-click="BarcodeScanner()">BarcodeScanner</button>
      	<span>扫描二维码</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="Calendar()">Calendar</button>
      	<span>日历</span>
      	<button class="button button-positive" ng-click="DatePicker()">DatePicker</button>
      	<span>日期</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="Dialogs()">Dialogs</button>
      	<span>弹框</span>
      	<button class="button button-positive" ng-click="Toast()">Toast</button>
      	<span>小弹框</span>
      </ion-item>
      <ion-item>
      	<button class="button button-positive" ng-click="MyPlugin()">MyPlugin</button>
      	<span>我的自定义插件</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>